In [7]:
import sqlite3
import time

In [8]:
conn = sqlite3.connect('example.db')
c = conn.cursor()

In [9]:
# Create table
try:
    c.execute('''CREATE TABLE example
                 (a text, b text, c text)''')
except sqlite3.OperationalError as e:
    print(e)

conn.commit()

table example already exists

In [31]:
table_names = conn.execute("SELECT name FROM sqlite_master WHERE type='table';")
for name in table_names:
    print(name)
    
c.execute("PRAGMA table_info(example)")
c.fetchall()

('example',)

[(0, 'a', 'text', 0, None, 0),
 (1, 'b', 'text', 0, None, 0),
 (2, 'c', 'text', 0, None, 0)]

In [24]:
entry = dict(a='a', b='b', c=time.ctime())
print(entry)
# c.execute("INSERT INTO example VALUES ('{a}', '{b}', '{c}')".format(**entry))
c.execute("INSERT INTO example(a, b, c) VALUES(?, ?, ?)", ('\'a\'a', '_b', time.ctime()))
conn.commit()

{'a': 'a', 'b': 'b', 'c': 'Fri Nov 22 23:36:53 2019'}

In [32]:
c.execute("Select * FROM example")
c.fetchall()

[('a', 'b', 'Fri Nov 22 23:29:13 2019'),
 ('a', 'b', 'Fri Nov 22 23:29:17 2019'),
 ('a', 'b', 'Fri Nov 22 23:29:21 2019'),
 ('a', 'b', 'Fri Nov 22 23:29:48 2019'),
 ('a', 'b', 'Fri Nov 22 23:30:12 2019'),
 ('a', 'b', 'Fri Nov 22 23:30:23 2019'),
 ('a', 'b', 'Fri Nov 22 23:31:26 2019'),
 ('a', 'b', 'Fri Nov 22 23:31:50 2019'),
 ('a', 'b', 'Fri Nov 22 23:32:37 2019'),
 ('a', '_b', 'Fri Nov 22 23:35:01 2019'),
 ('a', '_b', 'Fri Nov 22 23:35:10 2019'),
 ("'a'a", '_b', 'Fri Nov 22 23:35:21 2019'),
 ("'a'a", '_b', 'Fri Nov 22 23:36:53 2019')]

In [36]:
c.execute("Select * FROM example WHERE a LIKE 'a'")
c.fetchall()

[('a', 'b', 'Fri Nov 22 23:29:13 2019'),
 ('a', 'b', 'Fri Nov 22 23:29:17 2019'),
 ('a', 'b', 'Fri Nov 22 23:29:21 2019'),
 ('a', 'b', 'Fri Nov 22 23:29:48 2019'),
 ('a', 'b', 'Fri Nov 22 23:30:12 2019'),
 ('a', 'b', 'Fri Nov 22 23:30:23 2019'),
 ('a', 'b', 'Fri Nov 22 23:31:26 2019'),
 ('a', 'b', 'Fri Nov 22 23:31:50 2019'),
 ('a', 'b', 'Fri Nov 22 23:32:37 2019'),
 ('a', '_b', 'Fri Nov 22 23:35:01 2019'),
 ('a', '_b', 'Fri Nov 22 23:35:10 2019')]